$main_title: #000E5A;
$background: #F2F2F2;
$font_color: #575757;
$bg_secondary: #394583;
$form_data_color: #A6A6A6;
$form_selected: #333;
$calendar_font_color: #333;
$form_input_border_color: #CDCDCD;
$some_reservations: #2CE169;
$full: #FF6262;